body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: white;
    border-radius: 10px;
    padding: 30px 10px;
    width: 40%;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

section input {
    width: 30%;
    padding: 3px 7px;
}

select {
    height: 170px;
    width: 31%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}